/* Dark theme for posts
header {
  background-color: #000000 !important;
  color: #ffffff !important;
}

header a {
  color: #ffffff !important;
}

header a:hover {
  color: #b60000 !important;
}

nav {
  background-color: #000000 !important;
  color: #ffffff !important;
}

nav a {
  color: #ffffff !important;
}

nav a:hover {
  color: #b60000 !important;
}

body {
  background-color: #1a1a1a !important;
  color: #fff !important;
}

main, article, div {
  background-color: #000000 !important;
  color: #ffffff !important;
}

a {
  color: #b60000 !important;
}

a:hover {
  color: #ffffff !important;
}
 */

ul {
  text-align: left !important;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
}

li {
  text-align: left !important;
}

article {
  text-align: left !important;
}


body {
  text-align: left !important;
}

p {
  text-align: left !important;
}