{{ define "main" }}  
  <div class="mw8 center ph3">
    <!-- This flex container puts them in a row -->
    <section class="flex flex-wrap justify-center bg-white ma4">
      {{ range .Data.Pages }}
        <div class="pa4 tc">
          <h2 class="f3 athelas">
            <a href="{{ .RelPermalink }}" class="link black dim">
              {{ .Title }}
            </a>
          </h2>
          <p class="f6 gray ttu tracked">
            {{ len .Pages }} Posts
          </p>
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}