{{ define "main" }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | default "mid-gray" }}">
      <h1 class="f2 athelas tc">Authors</h1>
      {{ .Content }}
    </div>
  </article>
  
  <div class="mw8 center ph3">
    <!-- This flex container puts them in a row -->
    <section class="flex flex-wrap justify-center">
      {{ range .Data.Pages }}
        <div class="pa4 tc">
          <h2 class="f3 athelas">
            <a href="{{ .RelPermalink }}" class="link black dim">
              {{ .Title }}
            </a>
          </h2>
          <p class="f6 gray ttu tracked">
            {{ len .Pages }} Posts
          </p>
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}